html, body {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px
}

#map-canvas {
	height: 600px;
	width: 100%;
}

.event-time {
	position: absolute;
	z-index: 100;
	font-family: Whitney SSm A,Whitney SSm B,Helvetica;
	font-weight: 500;
	font-size: 55px;
	color: white;
}
